/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.site_container {
  width: 960px;
  margin: 0 auto;
}

/* Header with Navbar */

#header_container {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#header_bar {
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#logo_container {
  display: flex;
  padding-left: 2rem;
  font-size: 1rem;
}

#logo_container img {
  height: 1.5rem;
  margin-right: 1rem;
}

#navbar a {
  padding-right: 2rem;
  color: white;
  text-decoration: none;
}

#headline_container {
  position: relative;
  top: 10rem;
  float: right;
  right: -2rem;
  display: inline-block;

}

#headline_container h1 {
  color: black;
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;

}


/* Service Icons */

#services_container {
  display: flex;
  justify-content: center;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.service_container {
  text-align: center;
  padding: 0 3rem;
}

#paper_icon {
  width: 3.5rem;
}

#ruler_icon,
#truck_icon {
  width: 5rem;
}

/* Philosophy and Appointments */

#blurbs {
  display:flex;
  justify-content: space-around;
}

.blurb_container {
  width: 35%
}

.blurb_container h2 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem ;
}

.blurb_container p {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

/* Footer */
